*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;  
}
body {
    background-image: url('../IMAGE/img/1343.jpg'); 
    background-size: 100%;
}
.P1 img{
    margin-top: 22px;
    margin-left: 15px;
}

.P1{
    background-color: #FEF7F4;
    height: 80px;
}
.login{
    margin-top: -10px;
    padding: 12px;
    border: none;
    background-color: #EB662B;
}
#log{
    color: white;
}
.P1 a{
    text-decoration: none;
    color: black;
}
.P1 ul{
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -26px;
    margin-left: 15%;
    list-style-type: none;
    display: flex;
    gap: 3.1em;
}
h1{
    font-size: 45px;
    margin-top: 4%;
    margin-left: 40%;
}
hr {
    border: 1px black solid;
    width: 33%;
}
.row1{
    margin-top: 5%;
    display: flex;
    gap: 34px;
    width: 85%;
    margin-left: 7%;
}
.A ,.B,.C{
    flex: 1px;
}
.row1 img{
    width: 100%;
    border-radius: 5em 0 5em 0;
    margin-left: 0.30%;
    margin-top: -1%;

}
.row1 h2{
    margin-left: 2%;  
    
}
.row1 h4{
    margin-top: -23.5%;
    margin-left: 84%;
    font-size: 17px;
    color: #EB662B;
}
.row1 p{
    margin-top: 5.5%;
    margin-left: -2%;
    color: #000000;
    text-align: center;
   
}
.row1 button{
    margin-top: 23.5%;
    border: #EB662B;
    box-shadow: 0 2px 8px 0 black;
    margin-left: 38%;
    background-color: #eb662b;
    border-radius: 2%;
    color: white;
    height: 30px;
    width: 85px;
}
a{
    color: white;
    text-decoration: none;
}
.row2{
    margin-top: 5%;
    display: flex;
    gap: 34px;
    width: 85%;
    margin-left: 7%;
}
.A ,.B,.C{
    flex: 1;
}
.E ,.F,.D{
    flex: 1;
}
.row2 img{
    width: 100%;
    border-radius: 5em 0 5em 0;
    margin-left: 0.30%;
    margin-top: -1%;

}
.row2 h2{
    margin-left: 2%;  
}
.row2 h4{
    margin-top: -23.5%;
    margin-left: 81%;
    font-size: 17px;
    color: #EB662B;
}
.row2 p{
    margin-top: 5.5%;
    margin-left: -2%;
    color: #000000;
    text-align: center;
}
.row2 button{
    margin-top: 23.5%;
    border: #EB662B;
    box-shadow: 0 2px 8px 0 black;
    margin-left: 38%;
    background-color: #eb662b;
    border-radius: 2%;
    color: white;
    height: 30px;
    width: 85px;
}
.A,.B,.C,.D,.E,.F{
    box-shadow: 0 4px 8px 0 black;
    border: 1px solid ;
    border-radius: 5em 0 0 0;
    background-color: white;
    padding-bottom: 15px;
}
footer{
    padding-top:40px ;
    padding-bottom: 40px;
    margin-top: 150px;
    background-color: #FEF7F4;

}
footer h2{
    margin-left: 45px;
}
footer p{
    margin-top: 20px;
    margin-left: 45px;
}
.P1 a:hover{
    color: #EB662B;
}
footer ul{
    display: flex;
    align-items: center;
    margin-left: 43%;
    list-style-type: none;
    gap: 1.5em;
}
footer img{
    width:20px; 
    margin-left: 50%;
}
footer h3 {
    margin-top: -8%;
    margin-left: 47%;
    margin-bottom: 1%;
}
footer hr {
    width: 108px;
    margin-left: 47%;
    margin-bottom: 1%;
}
@media screen and (max-width:480px){
    body {
        background-image: url(img/1343.jpg);
        background-size: 371%;
    }
    .P1 ul {
        margin-top: 1%;
        display: flex;
        margin-left: -6%;
        gap: 1em;
    }
    .P1 li{
        font-size: 15px;
    }
    .P1 button{
        padding: 10%;
    }
    .P1 img {
        margin-left: 30%;
        margin-top: 2%;
    }
    h1{
        font-size: 45px;
        margin-top: 4%;
        margin-left: 21%;
    }
    hr{
        width: 80%;
    }
    .container {
        width: 65%;
        margin-left: 17%;
        padding-bottom: 0%;
    }
    .row1 {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 100%;
        margin-left: 4%;
    }
    .row2 {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 100%;
        margin-left: 4%;
    }
    .row1 h2 {
        margin-left: 2%;
        font-size: 120%;
    }
    .row2 h2 {
        margin-left: 2%;
        font-size: 120%;
    }
    .row1 p {
        padding-top: 9%;
        margin-top: 3.5%;
        color: #000000;
        text-align: center;
    }
    .row2 p {
        padding-top: 9%;
        margin-top: 3.5%;
        color: #000000;
        text-align: center;
    }
    .row1 h4 {
        margin-top: -34.5%;
        margin-left: 79%;
        font-size: 16px;
        color: #EB662B;
    }
    .row2 h4 {
        margin-top: -32.5%;
        margin-left: 75%;
        font-size: 16px;
        color: #EB662B;
    }
    .row1 button {
        margin-top: 37.5%;
        border: #EB662B;
        box-shadow: 0 2px 8px 0 black;
        margin-left: 34%;
        background-color: #eb662b;
        border-radius: 2%;
        color: white;
        height: 30px;
        width: 85px;
    }
    .row2 button {
        margin-top: 37.5%;
        border: #EB662B;
        box-shadow: 0 2px 8px 0 black;
        margin-left: 34%;
        background-color: #eb662b;
        border-radius: 2%;
        color: white;
        height: 30px;
        width: 85px;
    }
    footer h3 {
        font-size: 25px;
        margin-top: 7%;
        margin-left: 12%;
        margin-bottom: 1%;
    }
    footer hr {
        width: 140px;
        margin-left: 13%;
        margin-bottom: 1%;
    }
    footer img {
        width: 25px;
        margin-left: -425%;
    }
    footer ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1.5em;
        margin-top: 2%;
        margin-left: 30%;
    }
    .A, .B, .C, .D, .E, .F {
        box-shadow: 0 4px 8px 0 black;
        border: 1px solid;
        border-radius: 5em 0 0 0;
        background-color: white;
        padding-bottom: 46px;
    }
}