@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;  
}
body {
    background-image: url('../IMAGE/img/1343.jpg'); 
    background-size: 100%;
}
.P1 img{
    margin-top: 22px;
    margin-left: 15px;
}

.P1{
    background-color: #FEF7F4;
    height: 80px;
}
.login{
    margin-top: -10px;
    padding: 12px;
    border: none;
    background-color: #EB662B;
    font-family: 'Poppins', sans-serif;
}
#log{
    color: white;
}
.P1 a{
    text-decoration: none;
    color: black;
}
.P1 ul{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: -26px;
    margin-left: 57%;
    list-style-type: none;
    display: flex;
    gap: 3.1em;
}
h1{
    font-size: 45px;
    margin-top: 4%;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
}
hr {
    border: 1px black solid;
    width: 33%;
}
.container{
    margin-bottom: 5%;
}
.row1{
    margin-top: 5%;
    display: flex;
    gap: 34px;
    width: 85%;
    margin-left: 7%;
}
.A ,.B,.C{
    flex: 1px;
}
.row1 img{
    width: 100%;
    border-radius: 5em 0 5em 0;
    margin-left: 0.30%;
    margin-top: -1%;

}
.row1 h2{
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;  
}
.row1 h4{
    margin-top: -23.5%;
    margin-left: 78%;
    font-size: 17px;
    color: #EB662B;
    font-family: 'Poppins', sans-serif;
}
.row1 p{
    margin-top: 5.5%;
    margin-left: -2%;
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;   
}
.row1 button{
    margin-top: 23.5%;
    border: #EB662B;
    box-shadow: 0 2px 8px 0 black;
    margin-left: 38%;
    background-color: #eb662b;
    border-radius: 2%;
    color: white;
    height: 30px;
    width: 85px;
}
a{
    color: white;
    text-decoration: none;
}
.row2{
    margin-top: 5%;
    display: flex;
    gap: 34px;
    width: 85%;
    margin-left: 7%;
}
.A ,.B,.C{
    flex: 1;
}
.E ,.F,.D{
    flex: 1;
}
.row2 img{
    width: 100%;
    border-radius: 5em 0 5em 0;
    margin-left: 0.30%;
    margin-top: -1%;

}
.row2 h2{
    margin-left: 2%; 
    font-family: 'Poppins', sans-serif; 
}
.row2 h4{
    margin-top: -23.5%;
    margin-left: 78%;
    font-size: 17px;
    color: #EB662B;
    font-family: 'Poppins', sans-serif;
}
.row2 p{
    margin-top: 5.5%;
    margin-left: -2%;
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.row2 button{
    margin-top: 23.5%;
    border: #EB662B;
    box-shadow: 0 2px 8px 0 black;
    margin-left: 38%;
    background-color: #eb662b;
    border-radius: 2%;
    color: white;
    height: 30px;
    width: 85px;
}
.A,.B,.C,.D,.E,.F{
    box-shadow: 0 4px 8px 0 black;
    border: 1px solid ;
    border-radius: 5em 0 0 0;
    background-color: white;
    padding-bottom: 15px;
}
footer{
    height: 345px;
    background-color: #FEF7F4;
  }
.footer{
    display: flex;
    gap: 124px;
    justify-content: center;
}
.foot-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 35px;
}



.foot-1   p {
 color: #eb662b;
 font-family: 'Poppins', sans-serif;
  }
.foot-1  ul {
  list-style-type: none;
  }
.foot-1  ul a{
    text-decoration: none;
    color: #eb662b;
    font-size: 14px;
  }
.foot-1 .contact-foot ul a{
  font-size: 20px;
  }
.foot-1  #hr-contact{
    border: 1px solid black;

    }
.copyright {
  display: flex;
  flex-direction: column;
  padding-left: 44%;
  padding-top: 1%;
}
.copyright h4{
      padding-left: 40px  ;
      font-family: 'Poppins', sans-serif;
}
.copyright hr{
  width: 18%;
  margin-left: 31px;
}
.copyright ul a{
      font-size: 20px;
}
.copyright .social{
  display: flex;
  gap: 11px;
  padding-left: 49px;
}
.copyright span{
  font-family: 'Poppins', sans-serif; 
  padding-right: 9px;
} 

@media screen and (max-width:480px){
    body {
        background-image: url(img/1343.jpg);
        background-size: 371%;
    }
    .P1 ul {
        margin-top: 1%;
        display: flex;
        margin-left: -6%;
        gap: 1em;
    }
    .P1 li{
        font-size: 15px;
    }
    .P1 button{
        padding: 10%;
    }
    .P1 img {
        margin-left: 30%;
        margin-top: 2%;
    }
    h1{
        font-size: 36px;
        margin-top: 4%;
        margin-left: 21%;
    }
    hr{
        width: 80%;
    }
    .container {
        width: 65%;
        margin-left: 17%;
        margin-bottom: 5%;
    }
    .row1 {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 100%;
        margin-left: 4%;
    }
    .row2 {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 100%;
        margin-left: 4%;
    }
    .row1 h2 {
        margin-left: 2%;
        font-size: 120%;
    }
    .row2 h2 {
        margin-left: 2%;
        font-size: 120%;
    }
    .row1 p {
        padding-top: 9%;
        margin-top: 3.5%;
        color: #000000;
        text-align: center;
    }
    .row2 p {
        padding-top: 9%;
        margin-top: 3.5%;
        color: #000000;
        text-align: center;
    }
    .row1 h4 {
        margin-top: -34.5%;
        margin-left: 73%;
        font-size: 16px;
        color: #EB662B;
    }
    .row2 h4 {
        margin-top: -32.5%;
        margin-left: 71%;
        font-size: 16px;
        color: #EB662B;
    }
    .row1 button {
        margin-top: 37.5%;
        border: #EB662B;
        box-shadow: 0 2px 8px 0 black;
        margin-left: 34%;
        background-color: #eb662b;
        border-radius: 2%;
        color: white;
        height: 30px;
        width: 85px;
    }
    .row2 button {
        margin-top: 37.5%;
        border: #EB662B;
        box-shadow: 0 2px 8px 0 black;
        margin-left: 34%;
        background-color: #eb662b;
        border-radius: 2%;
        color: white;
        height: 30px;
        width: 85px;
    }
    footer{
        height: 600px;
        background-color: #FEF7F4;
      }
      .footer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: end;
      }
      .foot-1 {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding-top: 35px;
        padding-left: 5%;
      }
      .foot-1 ul {
        list-style-type: none;
        padding-left: 6%;
      }
      .foot-1 P {
        list-style-type: none;
        padding-left: 6%;
      }
      .copyright {
        display: flex;
        flex-direction: column;
        padding-left: 29%;
        padding-top: 1%;
      }footer{
        height: 600px;
        background-color: #FEF7F4;
      }
      .footer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: end;
      }
      .foot-1 {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding-top: 35px;
        padding-left: 5%;
      }
      .foot-1 ul {
        list-style-type: none;
        padding-left: 6%;
      }
      .foot-1 P {
        list-style-type: none;
        padding-left: 6%;
      }
      .copyright {
        display: flex;
        flex-direction: column;
        padding-left: 29%;
        padding-top: 1%;
      }
}